/* Position icons around the logo */
.icon-container {
  position: absolute;
  width: 470px; /* Increase width for a larger circle */
  height: 470px; /* Increase height for a larger circle */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate-circle 10s linear infinite; /* Adjust rotation speed as needed */
}

.icon {
  position: absolute;
  font-size: 60px; /* Increase size of the icons */
  color: white;
}

/* Icon positions around the circle */
.math-icon {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chemistry-icon {
  top: 25%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.physics-icon {
  top: 75%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.biology-icon {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.earth-science-icon {
  top: 75%;
  left: 0%;
  transform: translate(-50%, -50%);
}

.computer-icon {
  top: 25%;
  left: 0%; /* Top-left */
  transform: translate(-50%, -50%);
}

/* Animation for circular movement */
@keyframes rotate-circle {
  from {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}